.row
  .col-xs-12.record
    h2 {{ technology.title }}
      .cross.pull-right.fa.fa-close(ui-sref='technologies')
      .delete.pull-right.fa.fa-trash(ng-click='delete()')

    tags-input(
      ng-model="technology.tags"
      display-property="label"
      on-tag-adding="addTag($tag)"
      on-tag-removed="save()"
    )
      auto-complete(source="autocomplete($query)" min-length="1")

    .form-group
      label Logo Url
      input.form-control(ng-model="technology.logoUrl" ng-blur="save()")

    img(ng-src="{{technology.logoUrl}}")
