h1 List of web technologies

input.form-control(type="text" ng-model="tags")
hr

.container
  .row
    expanding-box(
      ng-repeat="technology in technologies | filterByTags:tags"
      technology="technology"
    )

.new-technology.btn-round(ui-sref="newTechnology")
  span.glyphicon.glyphicon-plus
