@import "../../bower_components/bootstrap/less/bootstrap.less";

body {
  background: #f0f0f0;
}

.logo {
  object-fit: cover;
  width: 80%;
  max-height: 100%;
  margin: auto;
}

// edit tags
tags-input .tags {
  border-radius: 5px;
}
tags-input .tags .tag-item {
  background: none;
}

.panel {
  height: 200px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  border-radius: 0;
  background: #fff;
  overflow: hidden;

  &::before {
    border: 1px solid rgba(74, 74, 74, 0.1);
  }

  &:hover {
    padding: 3px;
    border: 3px solid rgba(129, 196, 131, 0.5);
  }
}

.panel-default .panel-heading {
  background-color: rgba(20, 20, 20, 0.3);
  border: none;
  border-radius: initial;
  text-align: center;
  color: white;
  padding: 4px;

  h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.logo {
  max-width: 200px;
}

.new-technology {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.btn-round {
    background-color: #e34a33;
    border-radius: 999em;
    width: 56px;
    height: 56px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    line-height: 1;
    font-size: 36px;
    cursor: pointer;
}

.btn-round span {
  color: #FFF;
  top: 9px;
  left: 16px;
  font-size: 25px;
}
.container{
  margin-top: 10px;
}

.new-technology-submit {
  position: relative;
  bottom: 10px;
  width: 100%;
}

.error-messages {
  color: #a94442;
}
