h1 List of web technologies

form(role="form", ng-submit="addTechnology()")
  .input-group
    input.form-control(type="text", ng-model="newTechnology.title", autofocus)
    span.input-group-btn
      button.btn.btn-default(type="submit") Add
hr
.panel.panel-default(ng-repeat="technology in technologies")
  .panel-heading
    h4
      a(ui-sref="technology({id: technology.objectId})") {{ technology.title }}
  .panel-body
    div
      ul.tag-cloud
        li(ng-repeat="tag in technology.tags")
          a(href="#") {{ tag.label }}
